* {
    box-sizing: border-box;
}

/* Colors */ 
body {
}

header {
    background-color: red;
    color: white;
}

aside {
    background-color: green;
    color: white;    
}

main {
    background-color: blue;
    color: white;    
}

footer {
    background-color: yellow;
    color: black;    
}

.site-container {
    display: flex;
    flex-wrap: wrap;
}

aside {
    width: 40%;
}

main {
    width: 60%;
}

aside, main, footer, header {

    border: 5px solid white;
}

@media screen and (max-width: 800px) {
    aside, main {
        width: 100%;
    }
}