body {
   font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
   font-weight: 300;
   padding:0;
   margin: 0;
   background: url('../images/bg-sunsets-over-sea.jpg') no-repeat 0 0;
}

.outer-wrap {
    width:100%;
    max-width:800px;
    margin: 0 auto;
}
.clear-float {
    clear:both;
}

ul.simple-tabs {
    width:100%;
    max-width:800px;
    margin: 0;
    padding: 0;
}

ul.simple-tabs li {
    float:left;
    width:25%;
    height:44px;
    /*margin-bottom: 30px;*/
    list-style-type: none;
    text-align: center;
    line-height:44px;
    background-color: #e8e8e8;
}

ul.simple-tabs li:hover, ul.simple-tabs li:active {
    background-color: #f17200;
}

ul.simple-tabs li.active {
    background-color: #f17200;
    color:#ffffff;
    
}

.tab-page {
    max-width:800px;
    width:100%;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: none;
    height:400px;
    padding:2em 2em 5em 2em;
    margin-top: 4em;
    background-color: white;
    opacity: 0.4;
    
}

img {
    max-width: 500px;
}

.ninety-percent-pad {
    width:90%;
    margin:25px auto;
}

/* Form Style*/

input {
    background-color: white;
    padding: 8px;
    border-radius: 3px;
    margin-bottom: 2em;
    border: 1px solid grey;
}