@media all and (max-width: 800px) {
    body {
        font-size: 1.2em;
    }
    header {
        padding-top: 1em;
    }
    header .section {
        width: 100%;
    }
    .mobile-view-logo {
        display: none;
        min-width: 350px;
    }
    .mobile-view-header {
        display: block;
    }
    header h1 {
        font-size: 1em;
        padding: 0 10px;
    /*    display: none; */
    }
    header h3 {
        font-size: 0.8em;
        padding: 0 10px;
    /*    display: none; */
    }
    ul.row {
        display: block;
    }
    .row li{
        padding: 15px 0
    }
    nav {
        margin-top: 1em;
        padding-left: 10px;
        padding-right: 10px;
    }
    .row {
        flex-direction: column-reverse;
        width: 100%;
    }
    main {
        padding: 10px;
        margin: 0;
        width: 100%;
    }
    .header-img {
        margin-bottom: 0;
        background: none;
        height: auto;
    }
    aside {
        width: 100%;
        padding: 10px;
    }
    .main-2 {
        flex: 100%;
        margin-left: 10px;
        margin-right: 10px;
    }
    footer {
        padding: 10px;
        flex-direction: column;
        width: 100%;
    }
    .findus, .archive, .about {
        flex: 100%;
        margin-right: 0;
    }
}